/****** Variable and Function ***********/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$quaternary-color: #353535;
$main-bg-color: #F6F6F6;
$address-bg-color: #EAEAEA;

@mixin text_bg_dual_color( $first_color ,$second_color ) {
    background: linear-gradient( $first_color ,$second_color );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

h1, h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.125em;
}

p {
    font-weight: 300;
}

.section-title {
    margin: 0;
}

.main-container-home,
.main-container-restaurant {
    width: 100%;
    box-sizing: border-box;
    background-color: $main-bg-color;

    section {
        display: flex;
        flex-direction: column;
    }
}

.cta-button {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: linear-gradient( $secondary-color, $primary-color );
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.25);
    transition: transform 330ms ease-in-out;

    &:hover {
        transform: scale(1.05);

        &::after {
            opacity: 0.2;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 24px;
        background: white;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}

.list-card {
    display: flex;
    align-items: center;
    height: 73px;
    padding: 0 30px;
    margin: 0 0 25px 10px;
    border-radius: 20px;
    background-color: $main-bg-color;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

#wish_1:checked,
#wish_2:checked,
#wish_3:checked,
#wish_4:checked {
    + .wish .wish-icon.fa-solid {
        height: 1em;
    }
}

.wish {
    height: 20px;

    label {
        position: relative;
    }

    .wish-icon {
        cursor: pointer;
        position: absolute;
        right: 0;
        line-height: 1em;

        &.fa-solid {
            height: 0;
            @include text_bg_dual_color( $primary-color, $secondary-color );
            transition: height 330ms ease-in-out;
        }
    }
}


/****** Header ************/
header {
    display: flex;
    flex-direction: column;

    .logo-container {
        display: flex;
        align-items: center;
        height: 63px;
        width: 100%;

        .header-link {
            text-decoration: none;
            color: black;
        }

        .header-icon {
            position: absolute;
            left: 15px;
        }

        .header-logo {
            height: 30px;
            margin: 6px auto 0 auto;
        }
    }

    .address-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: $address-bg-color;
    
        .address-icon {
            margin: 0 20px 0 0;
        }
    }
}


/****** Footer ************/
footer {
    padding: 22px 25px;
    color: white;
    background-color: $quaternary-color;

    .footer-logo {
        height: 18px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(320deg) brightness(100%) contrast(104%);
    }

    .footer-link-container {
        list-style: none;
        padding: 0;
        margin-bottom: 0;

        .footer-link-list {
            margin: 7px 0 0 0;

            &.footer-link-first .footer-link {
                font-weight: 500;
            }

            .footer-link-icon {
                min-width: 20px;
            }

            .footer-link {
                color: white;
                text-decoration: none;
            }
        }
    }
}