/****** Variable ***********/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$restaurant-new-font-color: #008766;
$main-bg-color: #F6F6F6;
$address-bg-color: #EAEAEA;
$footer-bg-color: #353535;
$functioning-icon-color: #7E7E7E;


/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

h1, h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.125em;
}

p {
    font-weight: 300;
}

.section-title {
    margin: 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
    background-color: $main-bg-color;

    section {
        display: flex;
        flex-direction: column;
        padding: 50px 15px;
    }
}

.cta-button {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: linear-gradient( $secondary-color, $primary-color );
}

.card {
    background-color: white;
    border-radius: 15px;
}

.card-link {
    text-decoration: none;
    color: black;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

#wish_1:checked,
#wish_2:checked,
#wish_3:checked,
#wish_4:checked {
    + .card-wish .card-wish-icon.fa-solid {
        background: linear-gradient( $primary-color, $secondary-color );
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
    }

    + .card-wish .card-wish-icon.fa-regular {
        display: none;
    }
}


/****** Header ************/
header {
    display: flex;
    flex-direction: column;

    .logo-container {
        display: flex;
        align-items: center;
        height: 63px;
        width: 100%;

        .header-link {
            text-decoration: none;
            color: black;
        }

        .header-icon {
            position: absolute;
            left: 15px;
        }

        .header-logo {
            height: 36px;
            margin: 0 auto;
        }
    }

    .address-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: $address-bg-color;
    
        .address-icon {
            margin: 0 20px 0 0;
        }
    }
}


/****** Main CTA ************/
.main-cta-container {
    align-items: center;
    text-align: center;

    .main-cta-text {
        font-size: 1.125em;
    }

    .main-cta-button {
        margin-top: 20px;
        transition: transform 330ms ease-in-out;

        &:hover {
            transform: scale(1.05);

            &::after {
                opacity: 0.2;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 24px;
            background: white;
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
    }
}


/****** Functioning ************/
.functioning {
    background-color: white;

    .section-title {
        margin-bottom: 35px;
    }

    .functioning-container {
        display: flex;
        flex-direction: column;
    }
}

.functioning-card {
    display: flex;
    align-items: center;
    height: 73px;
    padding: 0 30px;
    margin: 0 0 25px 10px;
    border-radius: 20px;
    background-color: $main-bg-color;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

    &::before {
        content: '';
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 14px;
        width: 24px;
        height: 24px;
        color: white;
        border-radius: 12px;
        background-color: $primary-color;
    }

    &:nth-of-type(1)::before {
        content: '1';
    }
    &:nth-of-type(2)::before {
        content: '2';
    }
    &:nth-of-type(3) {
        &::before {
            content: '3';
        }

        .functioning-card-icon {
            color: $primary-color;
        }
    }

    .functioning-card-icon {
        margin-right: 28px;
        color: $functioning-icon-color;
    }

    .functioning-card-text {
        font-weight: 500;
    }
}


/****** Restaurants ************/
.restaurants {
    .section-title {
        margin-bottom: 20px;
    }
}

.restaurants-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card-link {
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 10px 0;

        img {
            width: 100%;
            height: 180px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        &.restaurant-new::before {
            content: 'Nouveau';
            font-size: 0.875em;
            padding: 6px 13px;
            border-radius: 2px;
            color: $restaurant-new-font-color;
            background-color: $tertiary-color;
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }

    .card-content {
        padding: 20px 30px 20px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        .card-title {
            margin: 0 0 4px 0;
        }

        .card-subtitle {
            margin: 0;
        }

        .card-wish-icon {
            cursor: pointer;

            &.fa-solid {
                display: none;
            }
        }
    }
}


/****** Footer ************/
footer {
    padding: 22px 25px;
    color: white;
    background-color: $footer-bg-color;

    .footer-logo {
        height: 18px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(320deg) brightness(100%) contrast(104%);
    }

    .footer-link-container {
        list-style: none;
        padding: 0;
        margin-bottom: 0;

        .footer-link-list {
            margin: 7px 0 0 0;

            &.footer-link-first .footer-link {
                font-weight: 500;
            }

            .footer-link-icon {
                min-width: 20px;
            }

            .footer-link {
                color: white;
                text-decoration: none;
            }
        }
    }
}
